ul.pagination > li > span, ul.pagination > li > a {
    padding: 10px 15px;
}

.paginations-view{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary:focus{
    box-shadow: none!important;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.more-select-option.more-action-show {
    display: block!important;
}

.form-control:focus {
    outline: none!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
}

p.dropdown-item.selectIdRole {
    cursor: pointer;
}

select.custom-select.custom-select-sm.mb-3 {
    height: calc(2.0em + 0.5rem + 2px)!important;
    margin-right: 10px;
    border-radius: 5px!important;
}

.more-select-option{
    display: none;
}

input#js-keyword {
    width: 55%;
    margin-right: 10px;
    border-radius: 5px!important;
}

.input-group-append {
    display: block!important;
}

button#js-search {
    border-radius: 5px!important;
}

button#dropdownMenu2 {
    float: right;
}

button.js-update-request {
    width: 80%;
}

.awaiting-request-enabled .btn.btn-success.js-update-request{
    display: none;
}

.awaiting-request-hide{
    display: none!important;
}

.approved-request-show{
    display: block!important;
}

.approved-request-enabled .btn.btn-primary.js-update-request{
    display: none;
}

.awaiting-request-show{
    display: block!important;
}

.approved-request-hide{
    display: none!important;
}

.hide{
    display: none!important;
}

.show{
    display: block!important;
}

.owner-infor .form-group{
    width: 70%!important;
}
input.ps-item-content-input {
    width: 100%;
    padding: 7px 12px;
    height: 45px;
    border: 1px solid #d0d0ae;
    border-radius: 5px;
}

.ps-item-title p {
    font-size: 16px;
    color: #000;
}

input.ps-item-content-input:focus, .nice-select, .nice-select:hover, .nice-select:focus{
    border: 1px solid #d0d0ae!important;
}

.nice-select, .nice-select > ul.list{
    width: 100%!important;
}

p.ps-infor-img-title {
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #000;
}
.ps-item-button{
    text-align: right;
    padding: 5px 10px;
}

input.ps-item-content-input[type=file]{
    display: none;
}

p.ps-infor-img-label > label {
    margin: 0!important;
    cursor: pointer;
}

p.ps-infor-img-label {
    font-size: 16px;
    color: #0071c2;
    justify-content: center;
    text-align: center;
    border: 1px solid #0071c2;
    padding: 5px 0;
    cursor: pointer;
}

p.ps-infor-img-label.disabledInput {
    color: rgb(170, 170, 170);
    cursor: default;
    background-color: rgb(235, 235, 228);
    border: 1px solid #d0d0ae;
    cursor: default;
    width: 70%;
}
p.ps-infor-img-label{
    width: 70%;
}

p.ps-infor-img-label.disabledInput > label{
    cursor: default;
}

.owner-infor .ps-item-button {
    text-align: right;
    width: 70%;
    padding: 10px 0 0 0!important;
}

.ps-infor-image {
    border-radius: 50%;
    border: 1px solid #d0d0ae;
    height: 190px;
}

.owner-avatar, .owner-name ,.owner-title,.owner-name-file{
    display: flex;
    justify-content: center;
}

input#psEmail {
    pointer-events: none;
}

.form-group.save-button {
    text-align: right;
}

.ageOption.divide{
    float: left;
    width: 50%;
}

.ageLimit{
    float: left;
    width: 50%;
}

.js-view > a, .js-view > a:hover, .js-view > a:focus, .monthly-price button.btn a, .monthly-price button.btn a:hover, .monthly-price button.btn a:focus {
    color: #fff;
    text-decoration: none;
}

.js-room > a, .js-room > a:hover, .js-room > a:focus {
    color: #fff;
    text-decoration: none;
}

thead.thead-light > tr > th .plan-title{
    text-align: center;
    font-size: 20px;
}

.table .thead-light th:first-child {
    width: 20%;
}

.monthly-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding-top: 15px;
    padding-bottom: 15px;
}

span.pricing-table__feature-value.pricing-table__feature-price.monthly-price__price {
    font-size: 35px;
}

span.monthly-price__currency.text-minor {
    padding-left: 10px;
}

p.plan-desc {
    text-align: center;
    margin-bottom: 0;
    font-weight: normal;
    margin-top: -1rem;
}

.form-group.single-lable {
    margin-bottom: 0;
}

.form-group.single-lable.select-bank-lable {
    margin-top: 1rem;
}

img.logo-bank {
    width: 100px;
    height: 50px;
}
